{% extends 'layout.html' %}

{% block title %}
    {{titulo}}
{% endblock title %}

{% block content %}
        <h1 class="title"> {{titulo}} </h1>
        {% if messages %}
            {% for message in messages %}
                <div class="message">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        {% for empleado in empleados %}
            <div class="empleado-item">
                {% if empleado.image != 'null' %}
                    <div class="image">
                        <img src="{{empleado.image.url}}"/>
                    </div>
                {% endif %}
                <div class="data">
                    <h2> 
                        {{empleado.id}} - {{empleado.fullname}}, {{empleado.job}}
                    </h2>
                    <span class ="date">
                        Creado: {{empleado.creado}}
                    </span>
                    <p>
                        <a href="{% url 'eliminar_empleado' id=empleado.id %}" class="btn btn-delete">
                            Eliminar
                        </a>
                    </p>
                </div>
                <div class="clearfix">
                </div>
            </div>
         {% endfor %}
    
{% endblock content %}